{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendor.js') }}"></script>

    <script src="{{ asset('build/js/main.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/vendor.css') }}" />

    <link rel="stylesheet" type="text/css" href="{{ asset('build/css/main.css') }}" />
{% endblock %}
